*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store

.Rhistory
.Rproj.user
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb

# project-specific
release*
*.docx
*.dotx
*.smcl

manuscript/images/*
manuscript/appendix.pdf
manuscript/appendix.tex
manuscript/appendix.log